html {
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    align-items: center;

}

.container {
    padding: 0 100px;
}

header {
    padding-top: 0px;
}


/* nav bar css */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1600px; */
    margin: 0 auto;
}

ul {
    display: flex;
    gap: 40px;
}

nav li {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-family: instrument sans;
}

button {
    /* background-color: #FF6A3A; */
    background: linear-gradient(96.14deg, #FF6A3A 6.95%, #994023 97.18%);
    color: #ffffff;
    font-family: instrument sans;
    font-size: 20px;
    font-weight: 400;
    width: 130;
    border-radius: 30px;
    border: none;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    gap: 10px;}

/* hero saction css */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 1600px; */
    margin: 0 auto;
    gap: 200px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    padding-top: 60px;
}

.text-container {
    display: flex;
    align-items: center;
}

#text {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: instrument sans;
    font-size: 164px;
    font-weight: 700;
    color: line;
    margin: 0px 0px;
    color: transparent;

}

.gradient-text {

    background: linear-gradient(180.41deg, #FFFFFF -40.42%, rgba(32, 34, 39, 0) 128.9%);

    -webkit-background-clip: text;
}


.radial-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(255, 106, 58, 0.7) 0%, rgba(255, 106, 58, 0) 70%);
    filter: blur(120px);
    z-index: -10;
}




.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    z-index: 3;
}

h2 {
    font-family: sf pro;
    font-size: 150px;
    margin: 0;
    font-weight: 800;
}

.stroke {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 2px #FF6A3A;
    opacity: 0.2;
    z-index: 5;
}

.fill {
    z-index: 0;
    color: #FF6A3A;
}

.top .jojo-img {
    z-index: 0;
    position: absolute;
}

.top .logo-img {
    opacity: 0.3;
    z-index: 0;
}

.name {
    position: absolute;
    display: flex;
    padding-top: 580px;
}

.about {
    display: flex;
    /* max-width: 1600px; */
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
    gap: 80px;
    /* padding-top: 100px; */
}
.case-study-1,.case-study-2,.case-study-3,.case-study-4 {
    display: flex;
    /* max-width: 1600px; */
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto; */
    gap: 60px;
    opacity: 1;
    border-radius: 40px;
    border-width: 1px;
    padding: 40px;
    border: 1px solid #393939;
    top: 10%;
	position: sticky;
	z-index: 0;
    background: #1B1B1B;
    margin-bottom: 60px;

}
.case-heading{
    background: linear-gradient(180.41deg, #FFFFFF -40.42%, rgba(32, 34, 39, 0) 128.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: sticky;
    font-family: Basement Grotesque;
    font-weight: 800;
    font-style: Black;
    font-size: 124px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 60px;

}
.case-btn{
    width: 274px;
}

.about-text {
    display: flex;
    padding-top: 100px;
    align-items: center;
    /* margin: 0 auto; */
    font-size: 90px;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h3 {
    font-family: instrument sans;
    font-size: 64px;
    margin: 0px 0px;
    color: #ffffff;
}

h5 {
    font-family: instrument sans;
    font-size: 48px;
    color: #808080;
    margin: 0px 0px;
    font-weight: 700;
    align-items: flex-start;
}

.highlight-name {
    color: #FF6A3A;
    font-weight: 700;
}

p {
    font-family: Dm Sans;
    font-size: 20px;
    color: #808080;
    margin: 0px 0px;
}